/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: linear-gradient(#009688 15%, #dbdbd2 15%);
  font-family: "Lato", sans-serif;
  word-break: break-all;
  overflow: hidden;
}

.chat-directory-bg {
  background-color: #e6e6e6;
}

.pro-pic {
  height: 40px;
}

.notifications {
  background-color: #8cd7fa;
}
/* Icona campanella */
.bell-icon {
  background-color: #f0faff;
  width: 50px;
  height: 50px;
  margin: 10px 5px;
  aspect-ratio: 1;
  cursor: pointer;
}

.input-group {
  background-color: #f3f0f0;
}

.chat-thumb {
  overflow: auto;
  background: white;
  height: 650px;
}
.chat-thumb-name {
  font-size: medium;
  font-weight: bold;
}
.chat-thumb-info-text {
  font-size: smaller;
  white-space: nowrap;
  overflow: hidden;
}
.chat-thumb-info-date {
  font-size: x-small;
  text-align: end;
}
.selected {
  background-color: #f3f0f0;
}
/* Sezione chat */
/* Nome contatto */
.chat-name {
  font-size: medium;
}
/* Info */
.chat-info {
  font-size: small;
}

/* Chat Body */
.chat-body {
  background-image: url(../img/mine.jpg);
  overflow-y: auto;
  padding-bottom: 65px;
  width: 100%;
  height: 100%;
}
/* Messaggio */
.message {
  padding: 1px 3px 0px 1px;
  max-width: 65%;
  min-width: 30%;
  max-height: fit-content;
}
/* Inviato */
.sent {
  background-color: #d2f5b9;
}
/* Ricevuto */
.recived {
  background-color: white;
}
/* testo messaggio */
.message-text {
  padding: 0px 5px 0px 3px;
}

/* Data messaggio */
.message-date {
  font-size: x-small;
  text-align: end;
}

.new-message-section {
  background-color: #f0ebe6;
  width: 100%;
}
